<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179293253491-to72foocdkbcaoqg14na4fgkg2p1pgd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179293253491-to72foocdkbcaoqg14na4fgkg2p1pgd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBK9i6ju1MsHpTbek6SROFNXPs7d89Gje0</string>
	<key>GCM_SENDER_ID</key>
	<string>179293253491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.masagus.KodingSehatQ</string>
	<key>PROJECT_ID</key>
	<string>kodingsehatq</string>
	<key>STORAGE_BUCKET</key>
	<string>kodingsehatq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179293253491:ios:526df08ba2159046db9f06</string>
	<key>DATABASE_URL</key>
	<string>https://kodingsehatq.firebaseio.com</string>
</dict>
</plist>